<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Blue Mart</title>
  <link href='http://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Blue Mart</a></li>
        <li><a href="/users">User</a></li>
        <li><a href="/products">Products</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <%= yield %>
  </main>
  <footer>
    &copy; Blue Mart
  </footer>
</body>
</html>
