<h2>Sign Up</h2>

<p>To sign up please fill in the following details:</p>

<form action="/users" method="post">
  <div class="form_group">
    <label>Name
      <input type="text" name="user[name]" value="">
    </label>
  </div>

  <div class="form_group">
    <label>Email
      <input type="text" name="user[email]" value="">
    </label>
  </div>

  <div class="form_group">
    <label>Address
      <input type="text" name="user[address]" value="">
    </label>
  </div>

  <div class="form_group">
    <label>Password
      <input type="password" name="user[password]" value="">
    </label>
  </div>

  <div class="form_group">
    <label>Credit Card Number
      <input type="text" name="user[cc_number]" value="">
    </label>
  </div>

  <div class="form_group">
    <input type="submit" value="Submit">
  </div>


</form>
