<h2>Add Item</h2>

<p>Fill in the following:</p>

<form action="/products" method="post">
  <div class="form_group">
    <label>Name
      <input type="text" name="product[name]" value="">
    </label>
  </div>

  <div class="form_group">
    <label>Price
      <input type="text" name="product[price]" value="">
    </label>
  </div>

  <div class="form_group">
    <label>Photo URL
      <input type="text" name="product[photo]" value="">
    </label>
  </div>

  <div class="form_group">
    <label>Brand
      <input type="text" name="product[brand]" value="">
    </label>
  </div>

  <div class="form_group">
    <label>Category
      <input type="text" name="product[category]" value="">
    </label>
  </div>

  <div class="form_group">
    <label>Quantity
      <input type="text" name="product[quantity]" value="">
    </label>
  </div>

  <div class="form_group">
    <input type="submit" value="Submit">
  </div>


</form>
